.app {
    background-color: #ececec;
    height: 100vh;
    width: 100%;
}

.indexBody {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 530px;
    overflow: auto;
}

.form {
    width: 1034px;
}

.status {
    color: red;
}