.toolbarHeader {
    background: linear-gradient(0deg, #edf6fd, #f6fafe);
    border: 1px solid #f3f3f3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #1976d2;
    font-size: 1.5rem;
    padding: 16px;
}

.sortingForm {
    width: 180px;
}

.textColor {
    color: #1976d2;
}