.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.spc-btw {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.ms-3 {
    margin-left: 16px;
}